$error-color: #ff4500;
$breakpoint-tablet: 768px;

.ns-login-popup-header {
    svg {
        margin-right: 35%;
    }
}

.ns-login-form {
    text-align: center;
    // .login-message{
    //     text-align: center;
    // }
    .ns-form-input-group {
        width: 70%;
        margin: 0 auto;
        .tc-btn-big-green {
            padding: 4px;
        }
        // this makes a button inside this div 90% and centered
        .btn {
            text-align: center;
            button {
                width: 50%;
            }
        }
        .input-card {
            text-align: left;
            width: 50%;
            margin: 0 auto;            
        }
    }
}


.tc-ns-login-popup .tc-tab-buttons {
    padding-top: 0;
    button {
        border-top: none;
        border-left: none;
        margin-right: 0;
    }
}

.tc-modal-body {
    padding: 0;
    p {
        margin-top: 0;  
    }
}

.ns-form-error {
    color: $error-color;
    @media (max-width: $breakpoint-tablet) {
        display: block
    }
}